<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<form method = 'post' action="/user">
    <label>Username: <input type="text" name="username" th:value="${username}" /></label>
    <label>Email: <input type="email" name="email" th:value="${email}" /></label>
    <label>Password: <input type="password" name="password" /></label>
    <label>Confirm password: <input type="password" name="verify" /></label>
    <p th:text="${error}"></p>



<!--    <label>-->
<!--        Skin type:-->
<!--        <select name = 'skintype'>-->
<!--            <option value = 'oily'>Oily</option>-->
<!--            <option value = 'combination'>Combination</option>-->
<!--            <option value = 'normal'>Normal</option>-->
<!--            <option value = 'dry'>Dry</option>-->
<!--        </select>-->
<!--    </label>-->
<!--    <label>-->
<!--        Manicure or Pedicure?-->
<!--        <select name = 'manipedi'>-->
<!--            <option value = 'manicure'>Manicure</option>-->
<!--            <option value = 'pedicure'>Pedicure</option>-->
<!--        </select>-->
<!--    </label>-->
<!--    <input type = 'submit' value = 'Submit'>-->
    <input type = 'submit' value = 'Submit'>
</form>
</body>
</html>